extends ./layout/index

block content
    main.container.mt-5
        .row 
            .col-md-5 
                img.img-fluid(src=`/img/destinos_${trip.image}_ln.jpg` alt="trip image")
            .col-md-7 
                h1 #{trip.title}
                p
                    svg.icon.icon-tabler.icons-tabler-outline.icon-tabler-calendar(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='#dc135f' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                        path(stroke='none' d='M0 0h24v24H0z' fill='none')
                        path(d='M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z')
                        path(d='M16 3v4')
                        path(d='M8 3v4')
                        path(d='M4 11h16')
                        path(d='M11 15h1')
                        path(d='M12 15v3')
                    | #{trip.departure_date} / #{trip.return_date}
                p 
                    svg.icon.icon-tabler.icons-tabler-outline.icon-tabler-coin(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='#dc135f' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                        path(stroke='none' d='M0 0h24v24H0z' fill='none')
                        path(d='M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0')
                        path(d='M14.8 9a2 2 0 0 0 -1.8 -1h-2a2 2 0 1 0 0 4h2a2 2 0 1 1 0 4h-2a2 2 0 0 1 -1.8 -1')
                        path(d='M12 7v10')
                    | #{trip.price} Dollars

                p
                    svg.icon.icon-tabler.icons-tabler-filled.icon-tabler-user(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='#dc135f')
                        path(stroke='none' d='M0 0h24v24H0z' fill='none')
                        path(d='M12 2a5 5 0 1 1 -5 5l.005 -.217a5 5 0 0 1 4.995 -4.783z')
                        path(d='M14 14a5 5 0 0 1 5 5v1a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-1a5 5 0 0 1 5 -5h4z')
                    | #{trip.availables} Availables
                p= trip.description
                


